*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body
{
    height: 100%;
}


.lateral
{
    background-color: rgb(255, 123, 0);
    width: 20%;
    height: 100%;
    position: fixed;
    display: block;
    margin: 0 auto;
}

.lateral img
{
    width: 60%;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 80%;
    border: 6px  solid rgb(238, 148, 64);
}

.lateral a
{
    color: white;
    opacity: 0.6;
    font-size: 19px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

p
{
    margin-top: 0.5rem;
    font-size: 20px;
}

.descrição
{
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 0 3%;
}


.descrição  h2
{

    padding-top: 100px;
    font-size: 39px;
    color: #343a40;
}

.descrição span
{
    color: rgb(255, 123, 0);
}

#estudos h3
{
    padding-top: 15px; 
    padding-bottom: 8px;
}

.box
{
    padding: 1%;
    float: left;
    margin-left: 1rem;
    width: 45%;
    text-align: left;
}

.box img{
    max-width: 40%;
}
